@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

@layer utilities {
  .form_label {
    @apply block text-lg font-bold text-gray-600;
  }

  .form_input {
    @apply w-full p-2 outline-none border border-gray-400 rounded-md;
  }

  .table_head {
    @apply font-bold  py-4 border-b border-primary text-left whitespace-nowrap text-sm md:text-lg;
  }

  .table_row {
    @apply py-2 whitespace-nowrap;
  }
}

.rbc-header {
  background-color: #f4e8df;
  color: #333537;
}

.rbc-event,
.rbc-background-event {
  background-color: #333537 !important;
}
